{% block script %}
    <script type="text/javascript" src="{{ asset('bundles/cookieconsent/js/cookie-consent.js') }}"></script>
{% endblock %}

{% if position == 'dialog' %} {# Wrap in dialog tag if position is dialog #}
<dialog class="cookie-consent-dialog">
    {% endif %}

    <div class="cookie-consent cookie-consent--{{ theme }}-theme cookie-consent--{{ position }}">
        {% block title %}
            <h3 class="cookie-consent__title">{{ 'cookie_consent.title'|trans({}, 'CookieConsentBundle') }}</h3>
        {% endblock title %}

        {% block intro %}
            <p class="cookie-consent__intro">{{ 'cookie_consent.intro'|trans({}, 'CookieConsentBundle') }}</p>
        {% endblock intro %}

        {% block read_more %}
            {% if read_more_route %}
                <a class="cookie-consent__read-more"
                   href="{{ path(read_more_route) }}">{{ 'cookie_consent.read_more'|trans({}, 'CookieConsentBundle') }}</a>
            {% endif %}
        {% endblock read_more %}

        {{ form_start(form, {'attr': {'class': 'cookie-consent__form'}}) }}
        <div class="cookie-consent__category-group">
            {% block required_cookies_category %}
                <div>
                    {% block required_cookies_category_label %}
                        <p>{{ ('cookie_consent.required_cookies.title')|trans({}, 'CookieConsentBundle') }}</p>
                    {% endblock required_cookies_category_label %}
                    {% block required_cookies_category_body %}
                        <p>{{ ('cookie_consent.required_cookies.description')|trans({}, 'CookieConsentBundle') }}</p>
                    {% endblock required_cookies_category_body %}
                </div>
            {% endblock required_cookies_category %}

            {% for child in form %}
                {% if child.vars.block_prefixes[0] != 'button' %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}
        </div>

        <div class="cookie-consent__btn-group">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>

    {% if position == 'dialog' %}
</dialog>
{% endif %}