{% if position == 'dialog' %} {# Wrap in dialog tag if position is dialog #}
<dialog class="cookie-consent-dialog">
    {% endif %}

    <div class="cookie-consent cookie-consent--{{ position }}">
        <section class="cookie-consent-simple">
            {% block header %}
                {% block title %}
                    <h3>{{ 'cookie_consent.title'|trans({}, 'CookieConsentBundle') }}</h3>
                {% endblock title %}

                {% block intro %}
                    <p>{{ 'cookie_consent.intro'|trans({}, 'CookieConsentBundle') }}</p>
                {% endblock intro %}

                {% block read_more %}
                    {% if read_more_route %}
                        <a href="{{ path(read_more_route) }}">{{ 'cookie_consent.read_more'|trans({}, 'CookieConsentBundle') }}</a>
                    {% endif %}
                {% endblock read_more %}
            {% endblock header %}

            {% block submit_buttons %}
                {{ form_start(simple_form, {'attr': {'class': 'cookie-consent__form js-consent-simple-form'}}) }}

                {% for child in simple_form %}
                    {{ form_row(child) }}
                {% endfor %}
                {#                <button type="button" class="btn btn-primary js-accept-all-cookies">OK</button> #}
                {#                <button type="button" class="btn btn-primary js-reject-all-cookies">Reject all</button> #}
                {{ form_rest(simple_form) }}

                <button type="button" class="btn btn-text js-show-settings">Settings</button>
                {{ form_end(simple_form) }}

            {% endblock submit_buttons %}
        </section>

        <section class="cookie-consent-detail" style="display: none;">
            {% block pre_form %}
            {% endblock pre_form %}

            {% block consent_form %}
                {% block consent_form_start %}
                    {{ form_start(form, {'attr': {'class': 'cookie-consent__form'}}) }}
                {% endblock consent_form_start %}
                <div>
                    {% block required_cookies_category %}
                        <div>
                            {% block required_cookies_category_label %}
                                <p>{{ ('cookie_consent.required_cookies.title')|trans({}, 'CookieConsentBundle') }}</p>
                            {% endblock required_cookies_category_label %}
                            {% block required_cookies_category_body %}
                                <p>{{ ('cookie_consent.required_cookies.description')|trans({}, 'CookieConsentBundle') }}</p>
                            {% endblock required_cookies_category_body %}
                        </div>
                    {% endblock required_cookies_category %}

                    {% for child in form %}
                        {% if child.vars.block_prefixes[0] != 'button' %}
                            {{ form_row(child) }}
                        {% endif %}
                    {% endfor %}
                </div>

                {% block consent_form_rest %}
                    {{ form_rest(form) }}
                {% endblock consent_form_rest %}

                {{ form_end(form) }}
            {% endblock consent_form %}

            {% block post_form %}
            {% endblock post_form %}
        </section>
    </div>

    {% if position == 'dialog' %}
</dialog>
{% endif %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/cookieconsent/js/cookie-consent.min.js') }}"></script>
{% endblock scripts %}